.weatherCard {
  position: relative;
  margin: 10% auto 10% auto;
}

p.weatherIcon {
  font-size: 7em;
  display: block;
}

a.toggle, a.toggle:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}